body {
	background-image: url("img/bg.png");
	margin: 0px;
	padding: 0px;
	height: 100%;
}

#meni {
	width: 100%;
	height: 35px;
}

#content {
	margin-top: 30px;
}

#levo {
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 30px;
	float: left;
	margin-left: 50px;
	background-color: #FAFAFA;
	padding: 10px;
}

#map_canvas {
	border: 1px solid red;
	margin-top: 30px;
	margin-left: 280px;
}

#childs {
	margin: 0px;
	padding: 0px;
}

#childs li {
	border: 1px solid black;
	color: black;
	list-style: none;
	margin: 10px;
	padding: 3px 20px 3px 20px;
}

#login {
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	width: 400px;
	background-color: white;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

form {
	width: 300px;
	margin: 20px auto;
}

input {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 1px solid #ccc;
	font-size: 20px;
	width: 300px;
	min-height: 30px;
	display: block;
	margin-bottom: 15px;
	margin-top: 5px;
	outline: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

input[type=submit] {
	background: none;
	padding: 10px;
}